Django>=5.1,<5.2
djangorestframework>=3.15
djangorestframework-simplejwt>=5.4
dj-rest-auth[with_social]>=7.0
django-allauth[socialaccount]>=65.3
django-cors-headers>=4.6
django-filter>=24.3
django-environ>=0.11
drf-spectacular>=0.28
celery>=5.4
redis>=5.2
Pillow>=11.0
django-storages[s3]>=1.14
psycopg[binary]>=3.2
gunicorn>=23.0
whitenoise>=6.8
structlog>=24.4
django-structlog>=9.0
sentry-sdk[django]>=2.19
